.wordle {
  flex-grow: 1;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attempt {
  display: flex;
  gap: 0.5rem;
}

.attempt_init {
  color: transparent;
}

.attempt:not(:last-child) {
  margin-bottom: 0.5rem;
}

.attempt-shake {
  animation: shake 0.15s 5;
}

.letter {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  border: 2px solid var(--letter-outline-color);
  perspective: 100px;
  will-change: transform;
}

.letter::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.attempt_init .letter-pop {
  animation-duration: 0;
}

.letter-pop {
  animation: pop 0.5s linear;
}

.letter-green {
  --letter-reveal-background-color: var(--green-background-color);
  --letter-reveal-text-color: var(--green-text-color);
}

.letter-yellow {
  --letter-reveal-background-color: var(--yellow-background-color);
  --letter-reveal-text-color: var(--yellow-text-color);
}

.letter-gray {
  --letter-reveal-background-color: var(--gray-background-color);
  --letter-reveal-text-color: var(--gray-text-color);
}

.letter-reveal {
  animation: reveal 0.5s linear forwards;
}

.letter-reveal:nth-child(1) {
  animation-delay: 0s;
}

.letter-reveal:nth-child(2) {
  animation-delay: 0.1s;
}

.letter-reveal:nth-child(3) {
  animation-delay: 0.2s;
}

.letter-reveal:nth-child(4) {
  animation-delay: 0.3s;
}

.letter-reveal:nth-child(5) {
  animation-delay: 0.4s;
}

.letter-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes reveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--background-color);
    border-color: var(--letter-outline-color);
  }

  50% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--letter-outline-color);
  }

  50.00001% {
    transform: rotateX(270deg);
    background-color: var(--letter-reveal-background-color);
    border-color: var(--letter-reveal-background-color);
    color: var(--letter-reveal-text-color);
  }

  100% {
    transform: rotateX(360deg);
    background-color: var(--letter-reveal-background-color);
    border-color: var(--letter-reveal-background-color);
    color: var(--letter-reveal-text-color);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(1rem);
  }

  75% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}
