.modal {
  height: fit-content;
  position: relative;
  width: 90%;
}

.modal-backdrop {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--backdrop-background-color);
  animation: appear-animation ease-out 300ms;
}

@keyframes appear-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal-content {
  background-color: var(--background-color);
  border-radius: 0.75rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.modal-header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.modal-hidden {
  display: none;
}

.modal-hidden-animate {
  animation: disappear-animation ease-out 300ms forwards;
}

.modal-stats {
  display: flex;
}

.stats-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.stats-item__value {
  font-size: 2rem;
  text-align: center;
}

.stats-item__text {
  text-align: center;
}
