.game-stats__metrics {
  display: flex;
}

.game-stats__item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.game-stats__item-value {
  font-size: 2rem;
  text-align: center;
}

.game-stats__item-text {
  text-align: center;
}

.game-stats__header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
