@import "./modal.css";
@import "./header.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --letter-outline-color: #e8e9eb;
  --keyboard-key-default-background-color: #e8e9eb;
  --green-background-color: #77c66e;
  --green-text-color: #fff;
  --yellow-background-color: #ffd300;
  --yellow-text-color: #000;
  --gray-background-color: #acada8;
  --gray-text-color: #fff;
  --notification-background-color: rgba(0, 0, 0, 0.6);
  --notification-text-color: #fff;
  --backdrop-background-color: rgba(0, 0, 0, 0.3);

  font-size: 16px;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --letter-outline-color: grey;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  user-select: none;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.wordle {
  flex-grow: 1;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attempt {
  display: flex;
  gap: 0.5rem;
}

.attempt:not(:last-child) {
  margin-bottom: 0.5rem;
}

.attempt-shake {
  animation: shake 0.15s 5;
}

.letter {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  border: 2px solid var(--letter-outline-color);
  perspective: 100px;
}

.letter::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.letter-pop {
  animation: pop 0.5s linear;
}

.letter-green {
  --letter-reveal-background-color: var(--green-background-color);
  --letter-reveal-text-color: var(--green-text-color);
}

.letter-yellow {
  --letter-reveal-background-color: var(--yellow-background-color);
  --letter-reveal-text-color: var(--yellow-text-color);
}

.letter-gray {
  --letter-reveal-background-color: var(--gray-background-color);
  --letter-reveal-text-color: var(--gray-text-color);
}

.letter-reveal {
  animation: reveal 0.5s linear forwards;
}

.letter-reveal:nth-child(1) {
  animation-delay: 0s;
}

.letter-reveal:nth-child(2) {
  animation-delay: 0.1s;
}

.letter-reveal:nth-child(3) {
  animation-delay: 0.2s;
}

.letter-reveal:nth-child(4) {
  animation-delay: 0.3s;
}

.letter-reveal:nth-child(5) {
  animation-delay: 0.4s;
}

.letter-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.keyboard {
  padding: 0 0.5rem 1rem;
  flex-shrink: 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  user-select: none;
}

.keyboard-row:not(:last-child) {
  margin-bottom: 0.25rem;
}

.keyboard-key {
  font: inherit;
  text-align: center;
  line-height: 3rem;
  background: var(--keyboard-key-default-background-color);
  border: 0;
  border-radius: 0.25rem;
  flex-basis: 2rem;
  padding: 0 1%;
  text-transform: uppercase;
  font-weight: bold;
}

.keyboard-key:not(:last-child) {
  margin-right: 0.25rem;
}

.keyboard-key-green {
  background-color: var(--green-background-color);
  color: var(--green-text-color);
}

.keyboard-key-yellow {
  background-color: var(--yellow-background-color);
  color: var(--yellow-text-color);
}

.keyboard-key-gray {
  background-color: var(--gray-background-color);
  color: var(--gray-text-color);
}

.notification {
  position: fixed;
  top: 4rem;
  left: 50%;
  background-color: var(--notification-background-color);
  color: var(--notification-text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  --transform: translateX(-50%);
  transform: var(--transform);
  animation: slide 1s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes reveal {
  0% {
    transform: rotateX(0deg);
    background-color: var(--background-color);
    border-color: var(--letter-outline-color);
  }

  50% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--letter-outline-color);
  }

  50.00001% {
    transform: rotateX(270deg);
    background-color: var(--letter-reveal-background-color);
    border-color: var(--letter-reveal-background-color);
    color: var(--letter-reveal-text-color);
  }

  100% {
    transform: rotateX(360deg);
    background-color: var(--letter-reveal-background-color);
    border-color: var(--letter-reveal-background-color);
    color: var(--letter-reveal-text-color);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(1rem);
  }

  75% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    transform: translateY(-1rem) var(--transform);
    opacity: 0;
  }

  100% {
    transform: translateY(0) var(--transform);
    opacity: 1;
  }
}
